body {
    font-family: Arial;
    width: 100vw;
    height: 100vh;
    margin: 0;
    text-align: center;  
    vertical-align: middle;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: black;
    
}

.errorlabel{
    font-weight: 900;
    position: absolute;
    font-size: 450%;
    margin: 0;
    left: 5%;
    top:2.5%;
}

* {
    box-sizing: border-box;
}

img{
    margin-left: auto;
    margin-right: auto;
    width: 24vw;
    height: 24vh;
}

.slideImg {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.slideVideo{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: black;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    float: left;
    width: 100vw;
}

.alerts{
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    float: left;
    width: 27vw;
    height: 95.9vh;
    overflow: hidden;
}

/* Hide the images by default */
.mySlides {
    max-width: 70vw;
    max-height: 100vh;
    margin: 0;
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}